@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -21px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes drawingin {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawingover {
  from {
    stroke-dashoffset: 1715;
  }
  25%,
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -1715;
  }
}

@keyframes stretchingin {
  from {
    stroke-dashoffset: -110;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stretchingover {
  from {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 120;
  }
  50% {
    stroke-dashoffset: -110;
  }
  75% {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes tangramBig {
  0% {
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }
  25% {
    clip-path: polygon(0 100%, 0 0, 100% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  75% {
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }
}

@keyframes tangramSmall {
  0% {
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }
  25% {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
  50% {
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  100% {
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }
}

@keyframes tangramRectangle {
  0% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  25% {
    clip-path: polygon(0 100%, 50% 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  75% {
    clip-path: polygon(100% 100%, 50% 100%, 100% 0);
  }
  100% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}
