@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -21px);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes drawing {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stretching {
  from {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: -110;
  }
}
