@mixin breakpoint($bp) {
  @media screen and ($bp) {
    @content;
  }
}

%container {
  padding-top: $size-step-2;
  padding-bottom: $size-step-2;

  @include breakpoint($desktop) {
    padding-top: $size-step-4;
    padding-bottom: $size-step-4;
  }
}

%content {
  display: grid;
  grid-template-columns: $size-step-2 1fr $size-step-2;
  grid-gap: 0;

  margin: 0 auto;

  > * {
    grid-column: 2 / -2;
  }

  @include breakpoint($desktop) {
    grid-template-columns: 0 repeat(5, 1fr) 0;
    grid-column-gap: $size-step-5;

    > * {
      grid-column: 4 / 7;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

%content--float {
  padding-left: $size-step-2;
  padding-right: $size-step-2;

  @include breakpoint($desktop) {
    padding-left: $size-step-3;
    padding-right: $size-step-3;

    > * {
      margin-left: calc(40% + #{$size-step-5});
    }
  }
}

%titleText {
  font-size: $size-step-1;
  line-height: $size-step-2;
  letter-spacing: -0.02em;
}

%altText {
  font-family: var(--font-sans);
  font-size: $size-step--2;
  line-height: $size-step-2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
}

%altTextUnderline {
  text-decoration: none;
  line-height: 2;
  border-bottom: 0.15em solid var(--color-link);

  &:focus,
  &:hover,
  &:active {
    border-bottom-color: var(--color-link-hover);
  }
}

%linkText {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(90deg, var(--color-bg), var(--color-bg)),
    linear-gradient(90deg, var(--color-fg), var(--color-fg));
  background-repeat: no-repeat;
  background-size: 50px 2px, 100% 2px;
  background-position: -50px 100%, 0 100%;

  &:focus,
  &:hover,
  &:active {
    background-image: linear-gradient(90deg, var(--color-bg), var(--color-bg)),
      linear-gradient(
        90deg,
        var(--color-accent),
        var(--color-accent)
      );
    background-position: calc(100% + 50px) 100%, 0 100%;
  }
}

%visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
