@mixin breakpoint($bp) {
  @media screen and ($bp) {
    @content;
  }
}

%container {
  padding-left: $size-step-2;
  padding-right: $size-step-2;

  &:not(:last-child) > div {
    border-bottom: 1px solid var(--color-border);
  }

  @include breakpoint($desktop) {
    padding-left: $size-step-4;
    padding-right: $size-step-4;
  }
}

%content {
  margin: 0 auto;
  max-width: $fluid-max-width * 1px;
  padding-top: $size-step-2;
  padding-bottom: $size-step-2;
}

%grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $size-step-4;

  @include breakpoint($desktop) {
    grid-template-columns: 1fr 2fr;
  }
}

%altText {
  font-family: var(--font-sans);
  font-size: $size-step--2;
  line-height: $size-step-1;
  text-transform: uppercase;
  letter-spacing: .1em;
}

%altTextUnderline {
  text-decoration: none;
  line-height: 2;
  border-bottom: .15em solid var(--color-link);

  &:focus,
  &:hover,
  &:active { border-bottom-color: var(--color-link-hover); }
}

%visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
