%container {
  padding-top: var(--margin-vertical);
  padding-bottom: var(--margin-vertical);

  &.block {
    padding-bottom: 0;

    > div {
      padding-bottom: var(--margin-vertical);
      border-bottom: 1px solid var(--color-border);
    }
  }

  display: grid;
  grid-template-columns:
    var(--margin-horizontal)
    1fr
    var(--margin-horizontal);

  @include breakpoint($desktop) {
    grid-template-columns:
      minmax(var(--margin-horizontal), auto)
      minmax(150px, calc(#{var(--fluid-max-width)} / 16 * 1rem))
      minmax(var(--margin-horizontal), auto);
  }
}

%content {
  grid-column: 2;

  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: var(--margin-horizontal);

    > * {
      grid-column: 3 / 7;
    }
  }
}

%titleText {
  font-weight: bold;
  font-size: var(--step-1);
  line-height: var(--step-2);
  letter-spacing: -0.035em;
}

%altText {
  font-family: var(--font-sans);
  font-size: var(--step--2);
  line-height: var(--step--3);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
}

%linkText {
  --color-border: var(--color-gray-light);
  background-image: linear-gradient(
    to bottom,
    var(--color-accent-alt) 0%,
    var(--color-accent-alt) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 111%;
  transition: background-size 0.25s ease-in;
  padding: 2px 2px 0px 0;
  border-bottom: 1px solid var(--color-border);
  transition: all 0.3s;

  &:focus,
  &:hover,
  &:active {
    background-size: 100% 88%;
    cursor: pointer;
    border-bottom-color: var(--color-accent);
  }
}

%visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
