@font-face {
  font-family: "Crimson";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/crimson-roman.woff2") format("woff2");
}

@font-face {
  font-family: "Crimson";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/crimson-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Crimson";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/assets/fonts/crimson-semibold.woff2") format("woff2");
}

::selection {
  background: var(--color-accent-alt);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: var(--font-serif);
  font-size: 1rem;
  letter-spacing: -0.03em;
  box-sizing: border-box;
}

body {
  --color-bg: var(--color-beige);
  border-top: 0.5rem solid var(--color-fg-display);
  background-color: var(--color-bg);
  position: relative;
  font-size: var(--step-0);
  line-height: var(--step-2);
}

.site-header,
.site-footer,
.site-main,
.site-main > div {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

*,
*:before,
*:after {
  box-sizing: inherit;

  /* Introducing a general override of all animations and translations */
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    animation-duration: 0.001ms !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-fg-display);
  // font-family: var(--font-display);
}
p,
ol,
ul,
figure,
blockquote {
  margin-top: 0;
  margin-bottom: var(--step-2);
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  background: var(--color-gray-lightest);
  border-left: 0.5rem solid var(--color-gray-light);
  margin-left: 0;
  margin-right: 0;
  padding: var(--space-s) var(--space-m);
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccc;
    font-size: 3.6em;
    line-height: 0.1em;
    vertical-align: -0.5em;
    content: open-quote;
    margin-right: 0.5rem;
  }
  &:after {
    content: close-quote;
    font-size: 0;
  }
  & p {
    display: inline;
  }
}
figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  margin-top: 0.5rem;
  @extend %altText;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    color: var(--color-link-hover);
  }
}

table {
  margin: var(--step-0) 0;
}

table td,
table th {
  padding-right: var(--step-0);
}
