@font-face {
  font-family: "Crimson-Pro";
  src: url("/assets/fonts/CrimsonPro-Roman-VF.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  unicode-range: U+0020-007F, U+00A0-00FF, U+20AC;
}

@font-face {
  font-family: "Crimson-Pro";
  src: url("/assets/fonts/CrimsonPro-Italic-VF.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
  font-weight: 300 700;
  unicode-range: U+0020-007F, U+00A0-00FF, U+20AC;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  --color-bg: var(--color-white);
  font-family: var(--font-serif);
  font-size: $size-step-0;
  line-height: $size-step-1;
  background-color: var(
    --color-bg
  ); // set a default for those browsers that don't
  box-sizing: border-box;

  @include breakpoint($maxscreen) {
    font-size: $fluid-max-size * 1px;
  }
}

body {
  position: relative;

  @include breakpoint($desktop) {
    margin: 2%;
    border-radius: 21px;
  }
}

header,
main,
main > div,
footer {
  background-color: var(--color-bg);
}

* {
  color: var(--color-fg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-fg-display);
}
h2,
h3 {
  font-size: $size-step-1;
  line-height: $size-step-2;
  margin-top: 0;
  margin-bottom: $size-step-2;
}
p,
ol,
ul,
figure {
  font-size: $size-step-0;
  line-height: $size-step-1;
  margin-top: 0;
  margin-bottom: $size-step-1;
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  transition: color 0.25s ease-out, border-color 0.25s ease-out,
    box-shadow 0.25s ease-out, background-position 0.5s ease-in-out, background-image 0.25s ease-in-out;
  color: var(--color-link);
  // &:visited {color: var(--color-link); }
  // &:visited {color: var(--color-link-visited); }
  &:focus,
  &:hover,
  &:active {
    color: var(--color-link-hover);
  }
}
table {
  margin: $size-step-0 0;
}
table td,
table th {
  padding-right: $size-step-0;
}
