:root {
  // Font families
  --font-display: "DM Serif Display", "Source Serif", "Roboto Serif", Athelas,
    Times, "Times New Roman", serif;
  --font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-serif: "Newsreader", "Roboto Serif", Georgia, Athelas, Times,
    "Times New Roman", serif;

  // Colours
  --color-black: #151a21;
  --color-gray-darkest: #1e2630;
  --color-gray-dark: #4a5159;
  --color-gray: #8e9297;
  --color-gray-light: #bbbdc0;
  --color-gray-lightest: #f2f2f2;
  --color-white: #fff;

  // a from jamesclear.com
  // background-image: linear-gradient(to bottom, #FEF5DF 0%, #FEF5DF 100%);
  // background-repeat: no-repeat;
  // background-size: 100% 0;
  // background-position: 0 111%;
  // transition: all 0.3s;

  // a: hover from jamesclear.com
  // background-size: 100% 88%;
  // cursor: pointer;
  // border-bottom: 2px solid #f8cd5f;

  --color-gold: #f8cd5f;
  --color-gold-light: #fef5df;
  --color-gray-warm: #e2ddca;
  --color-beige: #f9f8f4;
  // --color-black: #000;
  // --color-gray-darkest: #111;
  // --color-gray-dark: #999;
  // --color-gray: #757575;

  --color-terracota: #b33b0e;
  --color-olive: #806b35;
  --color-ocean: #2f435b;
  --color-forest: #4e6f6c;
  --color-earth: #65422e;
  --color-rose: #a55559;

  --color-brightred: hsl(4, 75%, 45%);

  // Associations
  --color-accent: var(--color-terracota);
  --color-bg: none;
  --color-fg: var(--color-gray-darkest);
  --color-fg-display: var(--color-black);
  --color-link: var(--color-fg);
  --color-link-hover: var(--color-accent);
  --color-border: rgba(136, 136, 136, 0.5);
}

// Size steps
$fluid-min-width: 320;
$fluid-min-width-rel: $fluid-min-width / 16;
$fluid-max-width: 1440;
$fluid-max-width-rel: $fluid-max-width / 16;
$fluid-width-rel-diff: $fluid-max-width-rel - $fluid-min-width-rel;
$fluid-min-size: 19;
$fluid-max-size: 23;
$fluid-min-ratio: 1.2;
$fluid-max-ratio: 1.25;
$fluid-screen: 100vw;
$fluid-bp: calc(
  (#{$fluid-screen} - (#{$fluid-min-width-rel} * 1rem)) / #{$fluid-width-rel-diff}
);

$fluid-max-negative: (1 / $fluid-max-ratio / $fluid-max-ratio);
$fluid-min-negative: (1 / $fluid-min-ratio / $fluid-min-ratio);

$fluid-min-scale--1: $fluid-min-ratio * $fluid-min-negative;
$fluid-max-scale--1: $fluid-max-ratio * $fluid-max-negative;
$fluid-min-size--1: ($fluid-min-size * $fluid-min-scale--1) / 16;
$fluid-max-size--1: ($fluid-max-size * $fluid-max-scale--1) / 16;
$fluid-size-diff--1: $fluid-max-size--1 - $fluid-min-size--1;
$size-step--1: calc(
  (#{$fluid-min-size--1} * 1rem) + #{$fluid-size-diff--1} * #{$fluid-bp}
);

$fluid-min-scale--2: $fluid-min-scale--1 * $fluid-min-ratio *
  $fluid-min-negative;
$fluid-max-scale--2: $fluid-min-scale--1 * $fluid-max-ratio *
  $fluid-max-negative;
$fluid-min-size--2: ($fluid-min-size * $fluid-min-scale--2) / 16;
$fluid-max-size--2: ($fluid-max-size * $fluid-max-scale--2) / 16;
$fluid-size-diff--2: $fluid-max-size--2 - $fluid-min-size--2;
$size-step--2: calc(
  (#{$fluid-min-size--2} * 1rem) + #{$fluid-size-diff--2} * #{$fluid-bp}
);

$fluid-min-scale-0: $fluid-min-ratio;
$fluid-max-scale-0: $fluid-max-ratio;
$fluid-min-size-0: $fluid-min-size / 16;
$fluid-max-size-0: $fluid-max-size / 16;
$fluid-size-diff-0: $fluid-max-size-0 - $fluid-min-size-0;
$size-step-0: calc(
  (#{$fluid-min-size-0} * 1rem) + #{$fluid-size-diff-0} * #{$fluid-bp}
);

$fluid-min-scale-1: $fluid-min-scale-0 * $fluid-min-ratio;
$fluid-max-scale-1: $fluid-max-scale-0 * $fluid-max-ratio;
$fluid-min-size-1: ($fluid-min-size * $fluid-min-scale-0) / 16;
$fluid-max-size-1: ($fluid-max-size * $fluid-max-scale-0) / 16;
$fluid-size-diff-1: $fluid-max-size-1 - $fluid-min-size-1;
$size-step-1: calc(
  (#{$fluid-min-size-1} * 1rem) + #{$fluid-size-diff-1} * #{$fluid-bp}
);

$fluid-min-scale-2: $fluid-min-scale-1 * $fluid-min-ratio;
$fluid-max-scale-2: $fluid-max-scale-1 * $fluid-max-ratio;
$fluid-min-size-2: ($fluid-min-size * $fluid-min-scale-1) / 16;
$fluid-max-size-2: ($fluid-max-size * $fluid-max-scale-1) / 16;
$fluid-size-diff-2: $fluid-max-size-2 - $fluid-min-size-2;
$size-step-2: calc(
  (#{$fluid-min-size-2} * 1rem) + #{$fluid-size-diff-2} * #{$fluid-bp}
);

$fluid-min-scale-3: $fluid-min-scale-2 * $fluid-min-ratio;
$fluid-max-scale-3: $fluid-max-scale-2 * $fluid-max-ratio;
$fluid-min-size-3: ($fluid-min-size * $fluid-min-scale-2) / 16;
$fluid-max-size-3: ($fluid-max-size * $fluid-max-scale-2) / 16;
$fluid-size-diff-3: $fluid-max-size-3 - $fluid-min-size-3;
$size-step-3: calc(
  (#{$fluid-min-size-3} * 1rem) + #{$fluid-size-diff-3} * #{$fluid-bp}
);

$fluid-min-scale-4: $fluid-min-scale-3 * $fluid-min-ratio;
$fluid-max-scale-4: $fluid-max-scale-3 * $fluid-max-ratio;
$fluid-min-size-4: ($fluid-min-size * $fluid-min-scale-3) / 16;
$fluid-max-size-4: ($fluid-max-size * $fluid-max-scale-3) / 16;
$fluid-size-diff-4: $fluid-max-size-4 - $fluid-min-size-4;
$size-step-4: calc(
  (#{$fluid-min-size-4} * 1rem) + #{$fluid-size-diff-4} * #{$fluid-bp}
);

$fluid-min-scale-5: $fluid-min-scale-4 * $fluid-min-ratio;
$fluid-max-scale-5: $fluid-max-scale-4 * $fluid-max-ratio;
$fluid-min-size-5: ($fluid-min-size * $fluid-min-scale-4) / 16;
$fluid-max-size-5: ($fluid-max-size * $fluid-max-scale-4) / 16;
$fluid-size-diff-5: $fluid-max-size-5 - $fluid-min-size-5;
$size-step-5: calc(
  (#{$fluid-min-size-5} * 1rem) + #{$fluid-size-diff-5} * #{$fluid-bp}
);

$fluid-min-scale-6: $fluid-min-scale-5 * $fluid-min-ratio;
$fluid-max-scale-6: $fluid-max-scale-5 * $fluid-max-ratio;
$fluid-min-size-6: ($fluid-min-size * $fluid-min-scale-5) / 16;
$fluid-max-size-6: ($fluid-max-size * $fluid-max-scale-5) / 16;
$fluid-size-diff-6: $fluid-max-size-6 - $fluid-min-size-6;
$size-step-6: calc(
  (#{$fluid-min-size-6} * 1rem) + #{$fluid-size-diff-6} * #{$fluid-bp}
);

// Breakpoints
$mobile: "max-width: 37.5rem";
$tablet: "min-width: 37.5rem";
$desktop: "min-width: 57.5rem";
$maxscreen: "min-width: calc(#{$fluid-max-width} / 16 * 1rem)";
$widescreen: "min-width: 100rem";
