.archivelist {
  --color-link-hover: var(--color-accent);
  @extend %container;

  &__inner {
    @extend %content;
  }

  &__title {
    --color-fg-display: var(--color-accent);
    font-size: $size-step-4;
    margin-top: 0;
  }

  &__footer {
    margin-top: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %altTextUnderline;
    position: relative;
    font-weight: 700;

    &:focus,
    &:hover,
    &:active {
      color: var(--color-link-hover);
    }

    &:after {
      content: "\20\2192";
      position: relative;
      right: -0.25rem;
    }
  }
}
