.archivelist {
  @extend %container;

  &__inner {
    @extend %content;
  }

  &__title {
    --color-fg-display: var(--color-accent);
    @extend %titleText;
    margin-top: 0;
    margin-bottom: $size-step--2;
  }

  &__footer {
    margin-top: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %altTextUnderline;
    position: relative;
    font-weight: 700;

    &:focus,
    &:hover,
    &:active {
      color: var(--color-link-hover);
    }

    &:after {
      content: "\20\2192";
      position: relative;
      right: -0.25rem;
    }
  }

  @include breakpoint($desktop) {
    &__title {
      grid-column: 2/4;
    }
  }
}

.taglist {
  display: flex;
  column-gap: .5rem;
  
  @include breakpoint($desktop) {
    grid-column: 4/7;
  }
}