.archivelist {
  @extend %container;

  &__inner {
    @extend %content;
  }

  &__title {
    @extend %altText;
    margin-top: 0;
    margin-bottom: $size-step--2;
  }

  &__footer {
    margin-top: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %linkText;
    display: inline-block;
    position: relative;
    font-weight: 700;

    &:focus,
    &:hover,
    &:active {
      color: var(--color-link-hover);
    }

    &:after {
      content: "\20\2192";
      position: relative;
      right: -0.25rem;
    }
  }

  @include breakpoint($desktop) {
    &__title {
      grid-column: 1/3;
    }
  }
}

.taglist {
  display: flex;
  column-gap: 0.5rem;

  @include breakpoint($desktop) {
    grid-column: 3/6;
  }
}
