.gridlist {
  --color-link-hover: var(--color-accent);
  @extend %container;

  &__inner {
    @extend %content;
    @extend %grid;
  }

  &__title {
    @extend %altText;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__link {
    @extend %altText;
    @extend %altTextUnderline;
    position: relative;
    font-weight: 700;

    &:focus,
    &:hover,
    &:active {
      color: var(--color-link-hover);
    }

    &:after {
      content: "\20\2192";
      position: relative;
      right: -0.25rem;
    }
  }

  @include breakpoint($desktop) {
    & .postlist {
      // Force this in pages without titles on column 1
      grid-column: 2/3;
    }

    &__footer {
      grid-column: 2/3;
    }
  }
}

.feed .gridlist__inner {
  padding-top: calc(#{$size-step-2} * 2);
}
