.heading {
  @extend %container;
  --color-bg: var(--color-accent-light);

  &__content {
    @extend %content;
    position: relative;
    padding-top: calc(var(--size-step-5) * 5);
    padding-bottom: var(--size-step-5);

    @include breakpoint($desktop) {
      & > * {
        margin-left: calc(33.3% + var(--size-step-2));
      }
    }

    &:after {
      position: absolute;
      content: '';
      top: calc(100% + 1px);
      width: 9rem;
      height: .4rem;
      background: var(--color-accent);
      left: 0;

      @include breakpoint($desktop) {
        left: calc(33.3% + var(--size-step-2));
      }
    }
  }

  &__title,
  &__subtitle {
    font-family: var(--font-serif);
    margin-top: 0;
    margin-bottom: var(--size-step--2);
  }

  &__title {
    font-weight: normal;
    font-size: var(--size-step-5);
    line-height: 1;
    letter-spacing: -.05rem;

    &:after {
      content: "\2009\2009\AC";
      display: inline-block;
      color: var(--color-accent);
      font-weight: bold;
    }
  }

  &__subtitle {
    max-width: 37.5rem;
    font-family: var(--font-sans);
    font-size: var(--size-step-3);
    line-height: var(--size-step-4);

    // temp hack
    transform: scaleX(1.05);
    transform-origin: left center;
  }

  &__datetime {
    @extend %altText;
  }
}

body:not(.tmpl-home) .heading__content {
  --color-border: transparent; // preferrable to overriding
}
