.heading {
  @extend %container;
  &:not(.heading--post) {
    --color-bg: var(--color-accent);
    --color-fg: var(--color-white);
    --color-fg-display: var(--color-white);
    --color-accent-alt: var(--color-accent-dark);

    & a.tag {
      --color-link: var(--color-fg);
      --color-link-hover: var(--color-fg);
    }
  }

  &--home.heading--with-picture {
    padding-bottom: 0;
    background: linear-gradient(
      0deg,
      var(--color-white) 0%,
      var(--color-white) 25%,
      var(--color-bg) 25%,
      var(--color-bg) 100%
    );
  }

  &__inner {
    @extend %content;
    position: relative;
  }

  & a:not(.tag) {
    @extend %linkText;
    border-bottom-width: 2px;
  }

  & .date {
    color: var(--color-fg);
  }

  &__title,
  &__subtitle {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title,
  &__subtitle,
  &__lede {
    @extend %titleText;
    font-size: var(--step-2);
    line-height: var(--step-3);
  }

  &__subtitle {
    color: var(--color-fg);
    font-weight: normal;
  }

  &__lede {
    font-weight: 400;
    max-width: 37.5em;
    letter-spacing: -0.025em;
  }

  @include breakpoint($desktop) {
    &__img {
      grid-column: 1/7;
    }
  }
}
