.heading {
  @extend %container;
  --color-fg-display: var(--color-accent);

  &__inner {
    @extend %content;
    position: relative;
  }

  & a {
    @extend %linkText;
    --color-link-hover: var(--color-accent);
  }

  &__title,
  &__subtitle,
  &__lede {
    margin-top: 0;
  }

  &__title,
  &__subtitle,
  &__lede {
    @extend %titleText;
    margin-bottom: 0;
  }

  &__subtitle {
    color: var(--color-fg);
    margin-bottom: $size-step-3;
  }

  &__lede {
    max-width: 37.5em;
  }

  &__datetime {
    @extend %altText;
  }

  &__img {
    grid-column: 1/-1;
    margin-top: calc(#{$size-step-6} * .5);
    margin-bottom: calc(#{$size-step-6} * .5);
    clip-path: polygon(0 0, 62% 0, 62% 100%, 100% 0%, 100% 100%, 0 100%);
  }

  @include breakpoint($desktop) {
    &--no-picture > &__title,
    &--no-picture > &__datetime {
      grid-column: 2/4;
    }

    &__img {
      grid-column: 2/7;
      margin-top: 0;
    }
  }
}
