.logo {
  a {
    display: inline-block;
    vertical-align: middle;

    .logo__monogram {
      display: block;
      width: 3rem;
      height: auto;

      .logo__line {
        stroke: var(--color-link);
        stroke-dasharray: 1715;
        stroke-dashoffset: 1715;

        transition: stroke 0.3s ease;
        animation: drawing 2.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
      }

      .logo__line + .logo__line {
        animation-delay: 1.5s;
      }
    }

    &:focus,
    &:hover,
    &:active {
      .logo__line {
        stroke: var(--color-accent);
      }
    }
  }

  &__rays {
    position: absolute;
    width: 9rem;
    height: 9rem;
    top: -3.35rem;
    left: -3rem;
    pointer-events: none;

    stroke: var(--color-gold);
    stroke-dasharray: 110;
    stroke-dashoffset: 110;

    transform-origin: center;
    animation: rotating 77s linear infinite;

    & path {
      animation: stretching 9s linear infinite;
    }

    & path:nth-of-type(2n) {
      animation-duration: 5s;
    }

    & path:nth-of-type(3n) {
      animation-duration: 4s;
      animation-direction: reverse;
    }

    & path:nth-of-type(4n) {
      animation-duration: 3s;
      animation-direction: reverse;
    }
  }
}
