.logo {
  a {
    display: inline-block;
    vertical-align: middle;

    .logo__monogram {
      display: block;
      width: 3rem;
      height: auto;

      .logo__trace path,
      .logo__hover path {
        stroke-dasharray: 1715;
        stroke-dashoffset: 1715;
      }

      .logo__trace path {
        stroke: var(--color-link);
        animation: drawing 2.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;

        & + path {
          animation-delay: 2s;
        }
      }

      .logo__hover path {
        stroke: var(--color-accent);
      }
    }

    .logo__rays {
      position: absolute;
      width: 9rem;
      height: 9rem;
      top: -3.35rem;
      left: -3rem;
      pointer-events: none;

      transform-origin: center;
      animation: rotating 77s linear infinite;

      & path {
        stroke: var(--color-gold);
        stroke-dasharray: 110;
        transition: stroke-dasharray 1s ease;
      }
    }

    &:focus,
    &:hover,
    &:active {
      .logo__hover path {
        animation: drawingover 5s cubic-bezier(0.83, 0, 0.17, 1) forwards infinite;

        & + path {
          animation-delay: .75s;
          animation-timing-function: linear;
        }
      }

      .logo__rays path {
        animation: stretching 27s linear forwards infinite;

        &:nth-of-type(2n) {
          animation-duration: 15s;
        }

        &:nth-of-type(3n) {
          animation-duration: 12s;
        }

        &:nth-of-type(4n) {
          animation-duration: 9s;
        }
      }
    }
  }
}
