.logo {
  a {
    display: inline-block;
    vertical-align: middle;

    .logo__monogram {
      display: block;
      width: 3rem;
      height: auto;

      .logo__trace path {
        stroke-dasharray: 1870;
        stroke-dashoffset: 1870;
        transform: translateZ(0);

        stroke: var(--color-accent);
        animation: drawingin 2.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;

        & + path {
          animation-delay: 1.5s;
        }
      }
    }

    &:focus,
    &:hover,
    &:active {
      .logo__trace path {
        animation: drawingover 2.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;

        & + path {
          animation-delay: 0s;
          animation-duration: 3s;
        }
      }
    }

    /*.logo__rays {
      position: absolute;
      width: 370%;
      height: 370%;
      top: -135%;
      left: -135%;
      pointer-events: none;

      transform-origin: center;
      animation: stretchingin 4.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;

      & path {
        stroke: var(--color-gray-light);
        stroke-dasharray: 110;
        transform: translateZ(0);
      }
    }*/
  }
}
