.services__list {
  @extend %grid;

  h2 {
    margin-bottom: 0;
  }

  &:first-of-type {
    padding-top: var(--size-step-2);
    border-top: 1px solid var(--color-border);
  }

  &:not(:last-child) {
    margin-bottom: var(--size-step-2);
    padding-bottom: var(--size-step-2);
    border-bottom: 1px solid var(--color-border);
  }

  ul {
    list-style: none;
    padding-left: 0;
    columns: 2;
  }
}
