.services__list {
  @extend %content;

  h2 {
    margin-top: 0;
  }

  &:first-of-type {
    padding-top: $size-step-2;
    border-top: 1px solid var(--color-border);
  }

  &:not(:last-child) {
    margin-bottom: $size-step-2;
    padding-bottom: $size-step-2;
    border-bottom: 1px solid var(--color-border);
  }

  ul {
    list-style: none;
    padding-left: 0;
    columns: 2;
  }

  @include breakpoint($desktop) {
    margin-left: 0;
    grid-column: 1/13;

    h2 {
      grid-column: 1/4;
    }

    ul {
      grid-column: 4/13;
    }
  }
}
