.services__list {
  h2 {
    margin-top: 0;
  }

  &:first-of-type {
    padding-top: $size-step-2;
    border-top: 1px solid var(--color-border);
  }

  &:not(:last-child) {
    margin-bottom: $size-step-2;
    padding-bottom: $size-step-2;
    border-bottom: 1px solid var(--color-border);
  }

  ul {
    list-style: none;
    padding-left: 0;
    columns: 2;
  }

  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: $size-step-2 1fr 1fr 5fr 1fr 1fr $size-step-2;
    grid-column: 1/-1;
    column-gap: $size-step-2;

    h2 {
      grid-column: 2/4;
    }

    ul {
      grid-column: 4/7;
    }
  }
}
