<div class="heading {{ params.className if params.className }}">
  <div class="heading__inner {{ 'heading--with-picture' if params.imageSrc else 'heading--no-picture' }}">

    {% if params.tags %}
    <div class="heading__tags">
      {% for tag in params.tags %}
        {% set tagUrl %}/{{ subDir }}tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <h1 class="heading__title">{{ params.title }}</h1>
    {% if params.subtitle %}<h2 class="heading__subtitle">{{ params.subtitle }}</h2>{% endif %}

    {% if params.imageSrc %}
      {% Figure {
        lazy: false,
        className: "heading__img",
        image: params.imageSrc,
        alt: params.imageAlt,
        caption: params.imageCaption,
        attribution: params.imageAttribution,
        size: "full"
      } %}
    {% endif %}

    {% if params.lede %}<p class="heading__lede">{{ params.lede | mdInline | safe }}</p>{% endif %}

    {% if params.date %}
      <time class="heading__datetime" datetime="{{ params.date | machineDate }}">
        {{ params.date | readableDate(locale) }}
      </time>
    {% endif %}

  </div>
</div>