<div class="heading {{ params.className if params.className }} {{ 'heading--with-picture' if params.imageSrc else 'heading--no-picture' }}">
  <div class="heading__inner">
   
    <h1 class="heading__title">{{ params.title }}</h1>
    {% if params.lede %}<p class="heading__lede">{{ params.lede | mdInline | safe }}</p>{% endif %}

    {% if params.date %}
    <div class="heading__meta postmeta">
      {% for tag in params.tags %}
        {% set tagUrl %}/{{ subDir }}tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
      {% endfor %}

      <time class="heading__date date" datetime="{{ params.date | machineDate }}">
        {{ params.date | readableDate(params.locale) }} 
      </time>
    </div>
    {% endif %}

    {% if params.imageSrc %}
      {% Figure {
        lazy: false,
        className: "heading__img",
        image: params.imageSrc,
        alt: params.imageAlt,
        caption: params.imageCaption,
        attribution: params.imageAttribution,
        size: "full"
      } %}
    {% endif %}
  </div>
</div>