{# Heading #}

{% macro heading(
  title="",
  subtitle="",
  dateTime="",
  dateReadable="",
  className="",
  image="") %}

  <div class="heading
    {{ className if className }}
    heading--{{ 'post' if dateTime else 'page' }}">

    <div class="heading__inner">

      <h1 class="heading__title
      {{ 'heading__title--post' if dateTime else 'heading__title--page' }}">
        {{ title | mdInline | safe }}
      </h1>

      {% if image %}
      <div class="heading__img">
        <img
        alt=""
        src="https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_480/https://fabiomrbarbosa.com/assets/images/{{ image }}"
        srcset="https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_520/https://fabiomrbarbosa.com/assets/images/{{ image }} 520w,
                https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_620/https://fabiomrbarbosa.com/assets/images/{{ image }} 620w,
                https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_820/https://fabiomrbarbosa.com/assets/images/{{ image }} 820w,
                https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_920/https://fabiomrbarbosa.com/assets/images/{{ image }} 920w,
                https://res.cloudinary.com/fabiomrbarbosa/image/fetch/q_auto,f_auto,w_1220/https://fabiomrbarbosa.com/assets/images/{{ image }} 1220w"
        sizes="(max-width: 56.25rem) 90vw, (max-width: 90rem) 66vw, 76.25rem"
        width="1220"
        height="685"/>
      </div>
      {% endif %}

      {% if subtitle %}
        <p class="heading__subtitle">{{ subtitle | mdInline | safe }}</p>
      {% endif %}

      {% if dateTime %}
        <time class="heading__datetime" datetime="{{ dateTime }}">
          {{ dateReadable }}
        </time>
      {% endif %}
    </div>
  </div>

{% endmacro %}

{# archivelist #}

{% macro archivelist (
  level = 2,
  title = "",
  linkText = "",
  linkTarget = "",
  className = ""
) %}
  {% set hx = 'h' + level %}

  <div class="archivelist {{ className if className }}">
    <div class="archivelist__inner">
      {% if title %}
      <{{ hx }} class="archivelist__title">{{ title }}</{{ hx }}>
      {% endif %}

      {{ caller() }}

      {% if linkTarget %}
      <div class="archivelist__footer">
        <a class="archivelist__link" href="{{ linkTarget }}">
          {{ linkText }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>

{% endmacro %}

{# CloudImage #}

{% macro cloudImage (title = "", description = "") %}

  {% set cloudName = "https://res.cloudinary.com/fabiomrbarbosa/image/upload/" %}
  {% set imageConfig = ["w_1280", "h_669", "c_fill", "q_auto", "f_auto"] | join(",") %}
  {% set titleConfig = [
    "/w_740",
    "c_fit",
    "co_rgb:fbfbfb",
    "g_south_west",
    "x_480",
    "y_254",
    "l_text:fonts:fmrb-title.ttf_86_letter_spacing_-2_line_spacing_-15:"
  ] | join(",") %}
  {% set titleUrl = title | fixedEncodeURIComponent %}
  {% set taglineConfig = [
    "/w_740",
    "c_fit",
    "co_rgb:fbfbfb",
    "g_north_west",
    "x_480",
    "y_445",
    "l_text:fonts:fmrb-tagline.ttf_56_letter_spacing_-1_line_spacing_-5:"
  ] | join(",") %}
  {% set taglineUrl = description | fixedEncodeURIComponent %}
  {% set imagePublicID = "/socialMediaCard" %}

  {{ cloudName +
    imageConfig +
    titleConfig +
    titleUrl +
    taglineConfig +
    taglineUrl +
    imagePublicID }}

{% endmacro %}
