[build]
  publish = "dist"
  command = "npm run build"
  environment = { NODE_ENV = "production" }

[build.processing]
  skip_processing = false

[build.processing.html]
  pretty_urls = true

[[redirects]]
  from = "/*"
  to = "/pt/:splat"
  status = 302
  conditions = {Language = ["pt", "pt-PT", "pt-BR"]}
