.contact {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    @extend %altText;
    display: inline-block;
    position: relative;
    font-weight: 700;
  }
}

.site-main {
  & .contact {
    &__item:not(:last-child) {
      margin-right: var(--space-s);
    }

    & a {
      @extend %linkText;

      &:after {
        content: "\20\2197";
        position: relative;
        right: -0.25rem;
      }
    }
  }
}
