.entry-body {
  @extend %container;

  --color-bg: var(--color-accent-light);
  --color-link-hover: var(--color-accent);
  padding-top: $size-step-5;
  padding-bottom: $size-step-5;
}

.entry-content {
  @extend %content;

  p {
    max-width: 37.5em;

    &:first-of-type:first-letter {
      float: left;
      margin-right: 0.25rem;

      // Caution: here be magic numbers.
      font-size: 520%; // Using percentages seems to be the most harmonious approach for Firefox, Chrome and Android browsers
      margin-top: 0.7rem; // First we set a baseline with this value. Drop cap size works immediately on desktop FF.
      line-height: 0.68em; // Desktop FF seems to not know what to do with this value, but it helps with Chrome

      // And now let's pray that all browsers implement this as soon as possible:
      -webkit-initial-letter: 3; // Safari seems to be fine with this regardless of previous properties.
      initial-letter: 3;
    }

    &:last-of-type:after {
      display: inline-block;
      content: "";
      background-color: var(--color-accent);
      width: 0.5em;
      height: 0.5em;
      margin-left: 0.25rem;
    }
  }

  a {
    --color-link: var(--color-fg);
    --color-link-hover: var(--color-fg);
    @extend %linkText;

    &.external-link {
      &:after {
        display: inline-block;
        content: "\2197";
        font-size: 65%;
        line-height: 1;
      }
    }
  }

  @include breakpoint($desktop) {
    pre {
      margin-left: auto;
    }

    figure.onethird {
      grid-column: 2/4;
      grid-row: span 2;
    }
  }
}
