.entry-body {
  @extend %container;
}

.entry-content {
  @extend %content;
  --color-link-hover: var(--color-accent);
  padding-top: var(--size-step-5);
  padding-bottom: var(--size-step-5);

  p {
    max-width: 37.5rem; /* 600px /16 */

    &:first-child:first-letter {
      color: var(--color-accent);
      float: left;
      font-size: 7rem;
      line-height: calc(var(--size-step-2) * 3);
      padding-top: .35rem;
      padding-right: .5rem;
    }

    &:last-child:after {
      content: '\25A0';
      color: var(--color-accent);
      margin-left: .25rem;
      font-size: 130%;
      line-height: 1;
    }
  }

  a {
    font-weight: bold;
  }

  figure img {
    border: 1px solid var(--color-border);
  }

  @include breakpoint($desktop) {
    > *:not(div) {
      margin-left: calc(33.3% + var(--size-step-2));
    }

    figure.onethird {
      margin-left: 0;
      width: calc(33.3% - var(--size-step-1));
      float: left;
    }
  }
}
