.entry-body {
  @extend %container;
  padding-top: $size-step-5;
  padding-bottom: $size-step-5;
}

.entry-content {
  @extend %content;
  position: relative;

  h2,
  h3 {
    @extend %titleText;
  }

  p {
    max-width: 37.5em;

    &:last-of-type:after {
      display: inline-block;
      content: "";
      background-color: var(--color-black);
      width: 0.5em;
      height: 0.5em;
      margin-left: 0.25rem;
    }
  }

  a {
    @extend %linkText;

    &.external-link {
      &:after {
        display: inline-block;
        content: "\2197";
        font-size: 65%;
        line-height: 1;
      }
    }
  }

  @include breakpoint($desktop) {
    pre {
      margin-left: auto;
    }

    figure.onethird {
      position: absolute;
      left: 0;
      grid-column: 1;
      width: 34%;
    }
  }
}
