.site-footer {
  @extend %container;
  --color-bg: var(--color-black);
  --color-fg: var(--color-gray-light);
  --color-link: var(--color-accent-light);
  --color-link-hover: var(--color-accent);
  --color-border: var(--color-gray-dark);

  &__inner {
    @extend %content;
    @extend %grid;
    border-bottom: none !important;
  }

  &__links {
    display: flex;
    column-gap: var(--size-step-1);
  }

  .logo,
  .menu,
  .contact {
    flex: 1;
  }

  .menu__item,
  .contact__item {
    display: block;

    & a {
      display: block;
    }
  }

  .contact__item {
    font-weight: normal;

    & a {
      border-bottom: 0;
      line-height: 2;

      &:after {
        content: "" !important;
      }
    }
  }

  .copyright {
    font-weight: bold;
    font-size: var(--size-step--1);
    font-family: var(--font-sans);
    text-transform: none;
    padding-top: var(--size-step-2);
    border-top: 1px solid var(--color-border);

    @include breakpoint($desktop) {
      grid-column: 2/3;
    }
  }
}
