.site-footer {
  @extend %container;
  --color-bg: var(--color-black);
  --color-fg: var(--color-gray-light);
  --color-link: var(--color-gray-verylight);
  --color-link-hover: var(--color-accent);
  --color-border: var(--color-gray-dark);
  --color-accent: var(--color-accent-light);

  &__inner {
    @extend %content;
    border-bottom: none !important;
  }
  
  &__logo {
    @include breakpoint($desktop) {
      grid-column: 2/4;
    }
  }

  &__links {
    display: flex;
    column-gap: $size-step-1;
  }

  .menu,
  .contact {
    flex: 1;
  }

  .menu__item,
  .contact__item {
    display: block;

    & a {
      display: block;
    }
  }

  .contact__item {
    font-weight: normal;

    & a {
      border-bottom: 0;
      font-size: $size-step--1;
      line-height: $size-step-2;

      &:after {
        content: "" !important;
      }
    }
  }

  .copyright {
    font-weight: 700;
    font-size: $size-step--1;
    text-transform: none;
    margin-top: $size-step-2;
    padding-top: $size-step-2;
    border-top: 1px solid var(--color-border);
  }
}
