.site-header {
  @extend %container;
  --color-bg: transparent;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 $size-step-2;
  }

  &__title {
    @extend %visuallyHidden;
  }

  &__logo {
    flex: 1;
    position: relative;
    margin-top: $size-step-4;
    margin-bottom: $size-step-6;
  }

  &__navigation {
    --color-link-hover: var(--color-accent);
    flex: 1;
    display: flex;
    column-gap: $size-step-3;

    & .menu__list,
    & .langswitch__list {
      display: flex;
      column-gap: $size-step-3;
    }
  }
}
