.site-header {
  @extend %container;
  --color-bg: var(--color-accent-light);

  &__inner {
    @extend %content;
    --color-border: transparent; // temp
    padding-top: var(--size-step-3);
    padding-bottom: var(--size-step-3);

    @include breakpoint($desktop) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: var(--size-step-4);
    }
  }

  &__title {
    @extend %visuallyHidden;
  }

  &__logo {
    position: relative;

    @include breakpoint($mobile) {
      margin-bottom: 5rem; // magic number?
    }

    & a:after {
      content: "";
      position: absolute;
      width: 9rem;
      height: 9rem;
      top: -3.35rem;
      left: -3rem;
      pointer-events: none;
      background: url('/assets/images/logo_rays.svg') 50% no-repeat;

      @media (prefers-reduced-motion:no-preference) {
        transform-origin: center;
        animation: rotating 77s linear infinite;
      }
    }

    a {
      &:focus,
      &:hover,
      &:active {
        svg {
          fill: var(--color-accent);
        }
      }
    }

    @include breakpoint($desktop) {
      position: absolute;
      left: calc(var(--size-step-4) * 1.6);
      margin-top: calc(var(--size-step-3) * 1.5);
      top: 0;
    }
  }

  &__navigation {
    --color-link-hover: var(--color-accent);
    display: flex;
    flex: 1.5;
    justify-content: space-between;

    @include breakpoint($desktop) {
      grid-column: 2/3;
    }
  }
}

