.site-header {
  @extend %container;
  padding-bottom: 0 !important;

  &__inner {
    @extend %content;
    align-items: center;
  }

  &__title {
    @extend %visuallyHidden;
  }

  &__logo {
    grid-column: 2;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    width: 3rem;
  }

  &__navigation {
    --color-link-hover: var(--color-accent);
    flex: 1;
    display: flex;
    column-gap: $size-step-3;

    & .menu__list,
    & .langswitch__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: $size-step-1;
    }
  }
}
