.link-home {
  font-size: var(--step-0);
  line-height: var(--step-2);
  margin-top: 0;
  margin-bottom: 0;

  & a {
    display: block;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.header-anchor {
  &:before {
    content: "#";
    margin-left: -1em;
    margin-right: 0.5em;
    color: var(--color-border);
  }
}

/*.header-anchor {
  margin-left: 0.25rem;

  &:link {
    color: var(--color-gray-light);
  }
  &:hover,
  &:active {
    color: var(--color-gray);
  }

  & .visually-hidden {
    @extend %visuallyHidden;
  }
}*/
