.link-home {
  font-size: $size-step-0;
  line-height: $size-step-2;
  margin-top: 0;
  margin-bottom: 0;

  & a {
    display: block;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.direct-link {
  margin-left: 0.25rem;

  &:link {
    color: var(--color-gray-light);
  }
  &:hover,
  &:active {
    color: var(--color-gray);
  }
}
