.menu,
.langswitch {

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    position: relative;

    & a {
      display: block;

      &:after {
        content: ".";
        position: absolute;
        top: 0;
        right: -.35rem;
      }

      &:not(:hover) {
        text-decoration: none;
      }
    }

    &:not(:last-child) {
      margin-right: var(--size-step--2);

      & a:after {
        content: ",";
      }
    }

    &--active a {
      font-weight: 700;
      color: var(--color-accent);
    }
  }
}

.langswitch {
  text-transform: uppercase;
}
