.menu,
.langswitch {

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    & a {
      @extend %altText;
      line-height: 2.25;
      display: block;
      text-decoration: none;
    }

    &[aria-current] a,
    &--active a {
      font-weight: 700;
      color: var(--color-link-hover);
    }
  }

}

.langswitch {
  @include breakpoint($desktop) {
    position: absolute;
    right: $size-step-4;
  }
}
