.postnav {
  @extend %container;
  --color-bg: var(--color-gray-verylight);

  &__inner {
    @extend %content;
  }

  &__title {
    margin-bottom: $size-step-1;
    @extend %altText;
    @include breakpoint($desktop) {
      grid-column: 2/4;
    }
  }

  &__items {
    @include breakpoint($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: $size-step-2;
    }
  }

  &__item {
    display: block;

    @include breakpoint($mobile) {
      &:not(:last-child) {
        margin-bottom: $size-step-2;
      }
    }
  }

  &__link {
    --color-accent: var(--color-fg);
    @extend %linkText;
    display: inline-block;
  }

  &__heading,
  &__description {
    margin: 0;
  }

  &__heading {
    @extend %altText;
    font-weight: 700;
  }
}
