.postlist {
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &__item {
    padding-bottom: $size-step-2;

    &:not(:last-of-type) {
      margin-bottom: $size-step-2;
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__link {
    @extend %linkText;
    display: inline-block;
    font-family: var(--font-display);
    font-size: $size-step-1;
    letter-spacing: 0.01em;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &__description {
    font-size: $size-step-0;
    margin-bottom: 0;
  }

  &__date {
    @extend %altText;
    display: block;
    font-size: $size-step--2;
    color: var(--color-gray);
  }
}
