.postlist {
  --color-accent: var(--color-red-dark);
  --color-link-hover: var(--color-accent);
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &__item {
    padding-bottom: $size-step-1;

    &:not(:last-of-type) {
      margin-bottom: $size-step-1;
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__date {
    @extend %altText;
    font-size: $size-step--2;
    font-weight: bold;
    color: var(--color-accent);
    margin-right: .5rem;
  }

  &__link {
    display: block;
    font-family: var(--font-serif);
    font-size: $size-step-2;
    font-weight: 600;
    margin-bottom: .25rem;
  }

  &__description {
    margin-bottom: 0;
  }
}
