.postlist {
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 0.5px solid var(--color-border);
  }

  &__item {
    padding-bottom: $size-step-2;

    &:not(:last-of-type) {
      margin-bottom: $size-step-2;
      border-bottom: 0.5px solid var(--color-border);
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__link {
    @extend %titleText;
    @extend %linkText;
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  &__description {
    font-size: $size-step-0;
    margin-bottom: 0;
  }
}
