.postnav {
  @extend %container;

  &__inner {
    @extend %content;
  }

  &__title {
    margin-top: 0;
    margin-bottom: var(--space-m);
    @extend %altText;
    @include breakpoint($desktop) {
      grid-column: 1/3;
    }
  }

  &__items {
    @include breakpoint($desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--step-2);
    }
  }

  &__item {
    display: block;

    @include breakpoint($mobile) {
      &:not(:last-child) {
        margin-bottom: var(--step-2);
      }
    }
  }

  &__link {
    @extend %linkText;
    display: inline-block;
  }

  &__heading,
  &__description {
    margin: 0;
  }

  &__heading {
    @extend %altText;
    font-weight: 700;
  }
}
