.subscribe {
  @extend %container;

  &__inner {
    @extend %content;
  }

  &__title {
    @extend %altText;
    margin-top: 0;
    margin-bottom: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %linkText;
    display: inline-block;
    font-weight: 700;
    position: relative;

    &:after {
      content: "\20\2197";
      position: relative;
      right: -0.25rem;
    }
  }

  p {
    margin-bottom: 1rem;
  }

  @include breakpoint($desktop) {
    &__title {
      grid-column: 1/3;
    }
  }
}
