.subscribe {
  @extend %container;
  position: relative;

  &__inner {
    @extend %content;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: var(--margin-lateral);
      right: var(--margin-lateral);
      height: 1px;
      background-color: var(--color-border);
    }
  }

  &__title {
    @extend %titleText;
    margin-top: 0;
    margin-bottom: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %linkText;
    display: inline-block;
    font-weight: 700;
    position: relative;

    &:after {
      content: "\20\2197";
      position: relative;
      right: -0.25rem;
    }
  }

  p {
    margin-bottom: 0;
  }

  @include breakpoint($desktop) {
    &__title {
      grid-column: 1/3;
    }
  }
}
