.subscribe {
  @extend %container;
  border-top: 0.5px solid var(--color-border);

  &__inner {
    @extend %content;
  }

  &__title {
    @extend %titleText;
    margin-top: 0;
    margin-bottom: $size-step-2;
  }

  &__link {
    @extend %altText;
    @extend %linkText;
    font-weight: 700;
    position: relative;

    &:after {
      content: "\20\2197";
      position: relative;
      right: -0.25rem;
    }
  }

  p {
    margin-bottom: 0;
  }

  @include breakpoint($desktop) {
    &__title {
      grid-column: 1/3;
    }
  }
}
