a.tag {
  @extend %altText;
  --color-link: var(--color-accent);
  --color-link-hover: var(--color-white);
  font-size: .65rem;

  display: inline-block;
  vertical-align: middle;
  padding: .2rem .6rem 0;
  margin-left: 0.5rem;
  border: .125rem solid var(--color-link);
  border-radius: 100px;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-link);
  }
}
