---
layout: layouts/base.njk
templateClass: tmpl-archive
---

{% Heading {
  title: 'dict.archive.title' | i18n,
  subtitle: 'dict.archive.subtitle' | i18n,
  className: 'heading--archive',
  image: 'assets/images/heading_archive.svg'
} %}

{% GridList {
  className: 'feed'
} %}

  {% set postlist = collections["posts_" + locale] %}
  {%- include "partials/postlist.njk" -%}

{% endGridList %}

{%- include "partials/subscribe.njk" -%}
