---
layout: layouts/base.njk
templateClass: tmpl-archive
---
{% import "components/macros.njk" as macro %}

{{ macro.heading (
  title = dictionary.archive.title[ locale ],
  subtitle = dictionary.archive.subtitle[ locale ],
  className = 'heading--archive'
) }}

{% call macro.gridlist (
  className = 'feed'
) %}

  {% set postlist = collections["posts_" + locale] %}
  {%- include "partials/postlist.njk" -%}

{% endcall %}

{%- include "partials/subscribe.njk" -%}
