---
layout: layouts/base.njk
templateClass: tmpl-articles
permalink: /{{ dictionary.archive.permalink[ locale ] }}
---
{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: dictionary.archive.title[ locale ],
  lede: dictionary.archive.subtitle[ locale ],
  className: 'heading--archive'
}) }}

{% ArchiveList {
  className: 'feed block'
} %}

  {% set postlist = collections[locale] | includes('data.contentType', 'article') %}
  {%- include "partials/postlist.njk" -%}

{% endArchiveList %}

{%- include "partials/subscribe.njk" -%}
