<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}"
  class="
  {% if templateClass %}{{ templateClass }}{% endif %}
  {% if translationKey %}page-{{ translationKey }}{% endif %}
  {% if slug %}page-{{ slug }}{% endif %}">
  <head>
    {%- include "partials/head.njk" -%}
  </head>
  <body>

    {%- include "partials/header.njk" -%}
    <main class="site-main">{{ content | safe }}</main>
    {%- include "partials/footer.njk" -%}

    <script>
    if ("serviceWorker" in navigator){
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/sw.js");
      })
    };

    function setCookie(cname, cvalue) {
      document.cookie = cname + "=" + cvalue + ";path=/;secure;samesite=strict";
    }

    document.addEventListener('error', function setImageFallback(event) {
      if (event.target.tagName.toLowerCase() !== 'img') return;
      event.target.src = event.target.getAttribute('data-fallback');
      event.target.srcset = '';
    }, true);
    </script>
    
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.www.fabiomrbarbosa.com"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.trismegistus.eu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.trismegistus.eu/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
