<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body
    {% if templateClass %} class="{{ templateClass }}"{% endif %}
    {% if color %} style="--color-accent: var(--color-{{color}}); --color-accent-light: var(--color-{{color}}-light);" {% endif %}>

    {% include "partials/header.njk" %}

    <main class="site-main">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

    <script>
    function setCookie(cname, cvalue) {
      document.cookie = cname + "=" + cvalue + ";path=/;secure;samesite=strict";
    }
    </script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
