---
layout: layouts/base.njk
templateClass: tmpl-home
permalink: /{{ subDir }}
---
{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: dictionary.home.title[ locale ],
  lede: dictionary.home.lede[ locale ],
  imageSrc: "assets/images/heading_home_202109.jpg",
  imageAlt: "Fábio Barbosa's portrait",
  className: "heading--home"
}) }}

{% ArchiveList {
  title: dictionary.home.contacts[ locale ],
  className: 'contacts block'
} %}

  {%- include "partials/contact.njk" -%}

{% endArchiveList %}

{% ArchiveList {
  title: dictionary.postlist.title[ locale ],
  linkText: dictionary.postlist.link[ locale ],
  linkTarget: dictionary.archive.permalink[locale] + '/',
  className: 'feed block'
} %}

  {% set postlist = collections[locale] | includes('data.contentType', 'article') | head(-3) %}
  {%- include "partials/postlist.njk" -%}

{% endArchiveList %}

{%- include "partials/subscribe.njk" -%}
