---
layout: layouts/base.njk
templateClass: tmpl-page
permalink: /{{ subDir }}{{ eleventyNavigation.key | slug }}/
---

{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: publicTitle,
  lede: description,
  className: 'heading--page'
}) }}

<div class="entry-body">
  <div class="entry-content">
    {{ content | safe }}
  </div>
</div>
