---
layout: layouts/base.njk
templateClass: tmpl-post
contentType:
  - article
permalink: /{{ subDir }}blog/{{ page.fileSlug }}/
---

{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: title,
  lede: description,
  date: date,
  tags: tags,
  imageSrc: coverImage.src,
  imageAlt: coverImage.alt,
  imageCaption: coverImage.caption,
  imageAttribution: coverImage.attribution,
  className: "heading--post"
}) }}

<div class="entry-body">
  <div class="entry-content">
    {{ content | safe }}
  </div>
</div>

{%- include "partials/postnav.njk" -%}

{%- include "partials/subscribe.njk" -%}
