---
layout: layouts/base.njk
templateClass: tmpl-post
contentType: article
permalink: /{{ subDir }}blog/{{ page.fileSlug }}/
---
{% Heading {
  title: title,
  subtitle: description,
  machineDate: date | machineDate,
  readableDate: date | readableDate(locale),
  className: 'heading--post'
} %}

<div class="entry-body">
  <div class="entry-content">
    {{ content | safe }}
  </div>
</div>

{%- include "partials/postnav.njk" -%}
{%- include "partials/subscribe.njk" -%}
