---
layout: layouts/base.njk
templateClass: tmpl-post
contentType:
  - article
permalink: /{{ subDir }}{{ dictionary.content.articles.slug[locale] }}/{{ page.fileSlug }}/
---
{% Heading {
  title: title,
  lede: description,
  machineDate: date | machineDate,
  readableDate: date | readableDate(locale),
  imageSrc: coverImage.src,
  imageAlt: coverImage.alt,
  imageCaption: coverImage.caption,
  imageAttribution: coverImage.attribution,
  className: 'heading--post'
} %}

<div class="entry-body">
  <div class="entry-content">
    {{ content | safe }}
  </div>
</div>

{%- include "partials/postnav.njk" -%}

{%- include "partials/subscribe.njk" -%}
