---
permalink: /{{ subDir }}feed/rss.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ dictionary.site.subtitle[ locale ] }}</subtitle>
	{% set absoluteUrl %}{{ [subDir + metadata.feed.path] | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections[locale] | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
  {% set posts = collections[locale] | includes('data.contentType', 'article') %}
	{%- for post in posts -%}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      {{ "<hr/><p><a href='mailto:" | e }}{{ metadata.author.email }}{{ "?subject=Re: " | e }}{{ post.data.title }}{{ "'>" | e }}{{ dictionary.feed.reply[ locale ] }} {{ "</a></p>" | e }}
    </content>
	</entry>
	{%- endfor %}
</feed>
