---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - en
    - pt
    - tags_en
    - tags_pt
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: 'Tag: {{ tag }}'
permalink: /{{ subDir }}tags/{{ tag | slug }}/
templateClass: tmpl-articles
translationKey: tags
---
{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: title,
  className: 'heading--archive'
}) }}

{% ArchiveList {
  linkText: dictionary.tag.link[ locale ],
  linkTarget: '/' + subDir + 'tags/',
  className: 'feed'
} %}

  {% set postlist = collections[tag] %}
  {%- include "partials/postlist.njk" -%}

{% endArchiveList %}

{%- include "partials/subscribe.njk" -%}
