---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts_en
    - posts_pt
    - site_en
    - site_pt
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
renderData:
  title: 'Tag: {{ tag }}'
  bodyTitle: 'Tag:<br> {{ tag }}'
permalink: /{{ locale }}/tags/{{ tag | slug }}/
translationKey: tags
---

{% Heading {
  title: renderData.bodyTitle,
  className: 'heading--archive'
} %}

{% GridList {
  className: 'tag--archive',
  linkText: 'dict.tag.link' | i18n,
  linkTarget: '/' + locale + '/tags/'
} %}

  {% set postlist = collections[ tag ] %}
  {%- include "partials/postlist.njk" -%}

{% endGridList %}

{%- include "partials/subscribe.njk" -%}
