---
permalink: /{{ subDir }}tags/
layout: layouts/base.njk
translationKey: tags
---
{% import "components/macros.njk" as macro %}

{{ macro.heading (
  title = 'Tags'
) }}

{% call macro.gridlist (
  className = 'tags--archive'
) %}

  <div class="taglist">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/{{ subDir }}tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
  {% endfor %}
  </div>

{% endcall %}
