---
permalink: /{{ subDir }}tags/
layout: layouts/base.njk
translationKey: tags
---

{%- from "components/init.njk" import component -%}
{{ component('heading', {
  title: 'Tags',
  className: 'heading--archive'
}) }}

{% ArchiveList {
  className: 'tags--archive'
} %}

  <div class="taglist">
  {% for tag in collections['tags_' + locale] %}
    {% set tagUrl %}/{{ subDir }}tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
  {% endfor %}
  </div>

{% endArchiveList %}
