---
permalink: /{{ locale }}/tags/
layout: layouts/base.njk
translationKey: tags
---

{% Heading {
  title: 'Tags'
} %}

{% GridList {
  className: 'tags--archive'
} %}

<div class="taglist">
{% for tag in collections.tagList %}
  {% set tagUrl %}/{{ locale }}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
{% endfor %}
</div>

{% endGridList %}

