.tmpl-home {
  .site-header,
  .heading,
  .contacts--home {
    --color-fg: var(--color-white);
    --color-fg-display: var(--color-white);
    --color-bg: var(--color-black);
    --color-link: var(--color-white);
    --color-link-hover: var(--color-accent);
    --color-border: var(--color-gray-dark);
  }

  .feed--home {
    --color-bg: var(--color-accent-light);

    .gridlist__inner {
      border-bottom: none !important;
    }

    .gridlist__link,
    .postlist__link {
      --color-link-hover: var(--color-metallic-sunburst);
    }
  }

  .tag {
    --color-link: var(--color-metallic-sunburst);
  }

  .logo a:focus,
  .logo a:hover,
  .logo a:active {
    svg {
      fill: var(--color-accent);
    }
  }
}
