.tmpl-page {
  .site-header,
  .heading {
    --color-fg: var(--color-black);
    --color-fg-display: var(--color-black);
    --color-bg: var(--color-white);
    --color-link: var(--color-black);
  }

  .site-main {
    --color-bg: var(--color-accent-light);
  }
}

.headshot {
  @include breakpoint($desktop) {
    margin-top: calc(var(--size-step-5) * -2);
  }
}
