.tmpl-post {
  .heading {
    padding-bottom: 0;

    &__inner {
      padding-bottom: var(--margin-vertical);
      border-bottom: 1px solid var(--color-border);
    }

    &__title,
    &__subtitle,
    &__lede {
      margin-bottom: var(--space-s);
    }

    &__title {
      font-size: var(--step-3);
      font-weight: normal;
      line-height: 1;
    }

    &__lede {
      font-size: var(--step-1);
      line-height: var(--step-2);
    }

    &__img {
      margin-top: var(--space-m);
    }
  }

  @include breakpoint($desktop) {
    .heading--with-picture .heading__inner {
      padding-bottom: var(--space-m);
    }
  }
}
