<footer class="site-footer" role="contentinfo">
  <div class="site-footer__inner">
    <div class="logo">
      <a href="{{ [ '/', locale ] | join | url }}" aria-label="Home link">
        {% InlineLogo { position: 'footer' } %}
      </a>
    </div>

    <div class="site-footer__links">
      {%- include "partials/menu.njk" -%}
      {%- include "partials/contact.njk" -%}
    </div>

    <p class="copyright">{{ metadata.title }} © 2008–2020</p>
  </div>
</footer>
