<footer class="site-footer" role="contentinfo">
  <div class="site-footer__inner">
    <div class="logo site-footer__logo">
      <a href="{{ '/' + subDir | url }}" aria-label="Home link">
        {% InlineIcon {
          file: "../../assets/images/logo_monogram.svg",
          location: "footer"
        } %}
      </a>
    </div>
    <div class="site-footer__links">
      <nav class="menu" aria-label="footer-navigation">
        <ul class="menu__list">
          {%- for entry in collections[locale] | eleventyNavigation -%}

          <li class="menu__item">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>

          {%- endfor -%}
        </ul>
      </nav>
      {%- include "partials/contact.njk" -%}
    </div>

    <p class="copyright">{{ metadata.title }} © 2008–2021</p>
  </div>
</footer>
