<footer class="site-footer" role="contentinfo">
  <div class="site-footer__inner">
    <div class="site-footer__links">
      <nav class="menu" aria-label="footer-navigation">
        <ul class="menu__list">
          {%- for entry in collections[locale] | eleventyNavigation -%}

          <li class="menu__item"{% if page.url == entry.url %} aria-current="page"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>

          {%- endfor -%}
        </ul>
      </nav>
      {%- include "partials/contact.njk" -%}
    </div>

    <p class="copyright">{{ metadata.title }} © 2008–2021</p>
  </div>
</footer>
