{# Variables #}
{% set pageTitle = computedData.title or title %}
{% set pageTitleSocial = publicTitle or pageTitle or metadata.title %}
{% set pageDescription = computedData.description or description or dictionary.site.subtitle[ locale ] %}
{% set pageType = 'article' if contentType == 'article' else 'webpage' %}

{% if coverImage %}
  {% set pageImage = coverImage.src | url %}
{% else %}
  {% set pageImage %}
    {% CloudImage {title: pageTitleSocial, description: pageDescription } %}
  {% endset %}
{% endif %}
{% set pageImageAlt = coverImage.alt or pageDescription %}

{% set devCss %}
  {% include "styles/main.min.css" %}
{% endset %}

{# Meta tags #}
<meta charset="utf-8">
<title>{{ pageTitle + ' |' if pageTitle }} {{ metadata.title }}</title>
<meta name="description" content="{{ pageDescription }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#111">
<meta name="image" content="{{ pageImage }}" />

{# OpenGraph tags #}
<meta property="og:url" content="https://fabiomrbarbosa.com{{ page.url }}"/>
<meta property="og:type" content="{{ pageType }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ pageDescription }}" />
<meta property="og:image" content="{{ pageImage }}" />
<meta property="og:image:alt" content="{{ pageImageAlt }}" />

{# Twitter Card tags #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@fabiomrbarbosa" />
<meta name="twitter:creator" content="@fabiomrbarbosa" />

{# Assets #}
{% if project.environment === 'production' %}
  <!-- INLINE CSS-->
{% else %}
  <style>{{ devCss | safe }}</style>
{% endif %}

<link rel="icon" href="/assets/images/favicon.svg">
<link rel="apple-touch-icon" href="/assets/images/icon-192x192.png">
<link rel="mask-icon" href="/assets/images/favicon.svg" color="#000" />
<link rel="mask-icon" href="/assets/images/favicon.svg" color="#fff" media="(prefers-color-scheme: dark)" />

{# RSS Feed #}
<link rel="alternate" href="/{{ subDir + metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

{# Manifest + Service Worker #}
<link rel="manifest" href="/{{ subDir }}manifest.webmanifest">

{# Preload critical fonts #}
<link rel="preload" href="/assets/fonts/crimson-roman.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/crimson-semibold.woff2" as="font" type="font/woff2" crossorigin>

{# Serve hreflang links #}
{%- for item in collections.all -%}
  {%- if item.data.translationKey == translationKey and item.data.locale == "en" -%}
    <link rel="alternate" hreflang="en" href="https://fabiomrbarbosa.com{{ item.url }}" />
  {%- elif item.data.translationKey == translationKey and item.data.locale == "pt" -%}
    <link rel="alternate" hreflang="pt" href="https://fabiomrbarbosa.com{{ item.url }}" />
  {%- endif -%}
{%- endfor -%}