{# Variables #}
{% set pageTitle = renderData.title or title %}
{% set pageTitleSocial = publicTitle or pageTitle or metadata.title %}
{% set pageDescription = renderData.description or description or 'dict.site.subtitle' | i18n %}
{% set pageType = 'article' if tags.includes('posts_pt' or 'posts_en') else 'website' %}

{% import "../macros/cloudImage.njk" as cloudImage %}
{% set pageImage = socialImage or cloudImage.generate( pageTitleSocial, pageDescription ) %}
{% set pageImageAlt = socialImageAlt or pageDescription %}

{# Meta tags #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#e4655c">

<title>{{ pageTitle + ' |' if pageTitle }} {{ metadata.title }}</title>
<meta name="description" content="{{ pageDescription }}">
<meta name="image" content="{{ pageImage }}" />

{# OpenGraph tags #}
<meta property="og:url" content="https://fabiobarbosa.net{{ page.url }}"/>
<meta property="og:type" content="{{ pageType }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ pageDescription }}" />
<meta property="og:image" content="{{ pageImage }}" />
<meta property="og:image:alt" content="{{ pageImageAlt }}" />

{# Twitter Card tags #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@fabiomrbarbosa" />
<meta name="twitter:creator" content="@fabiomrbarbosa" />

{# Assets #}
{% set css %}{% include "inlines/styles/main.min.css" | url %}{% endset %}
<style>{{ css | safe }}</style>

<link rel="icon" href="/assets/images/favicon.svg">
<link rel="apple-touch-icon" href="/assets/images/icon-192x192.png">
<link rel="mask-icon" href="/assets/images/favicon.svg" color="#000" />
<link rel="mask-icon" href="/assets/images/favicon.svg" color="#fff" media="(prefers-color-scheme: dark)" />

{# RSS Feed #}
<link rel="alternate" href="{{ '/' + locale + metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

{# Manifest + Service Worker #}
<link rel="manifest" href="/{{ locale }}/manifest.webmanifest">
