<header class="site-header">
  <div class="site-header__inner">
    <div class="logo">
      <a href="{{ [ '/', locale ] | join | url }}" aria-label="Home link">
        {% include "inlines/images/logo.svg" | url %}
      </a>
    </div>

    <div class="header__banner">
      <h1 class="link-home"><a href="{{ [ '/', locale ] | join | url }}">{{ metadata.title }}</a></h1>
      <div class="header__navigation">
        {% include "partials/menu.njk" %}
        {% include "partials/langswitch.njk" %}
      </div>
    </div>
  </div>
</header>
