<header class="site-header">
  <div class="site-header__inner">
    <div class="logo site-header__logo">
      <a href="{{ '/' + subDir | url }}" aria-label="Home link">
        {% InlineIcon {
          file: "../../assets/images/logo_monogram.svg",
          location: "header"
        } %}
        {% InlineIcon {
          file: "../../assets/images/logo_rays.svg"
        } %}
      </a>
      <p class="site-header__title">
        {{ metadata.title }}
      </p>
    </div>

    <div class="site-header__navigation">
      {%- include "partials/menu.njk" -%}
      {%- include "partials/langswitch.njk" -%}
    </div>
  </div>
</header>
