<div class="langswitch">

{# loop though site.languages #}
{%- for lang in metadata.languages -%}
  {%- if loop.first -%}<ul class="langswitch__list">{%- endif -%}

  {# set translatedUrl to the homepage of that language by default #}
  {%- set translatedUrl = "/" + lang.code + "/" -%}

  {# set current language class #}
  {%- set activeClass = "langswitch__item--active" if lang.code == locale else "" -%}

  {# loop through all the content of the site #}
  {%- for item in collections.all -%}

    {# for each item in the loop, check if
    - its translationKey matches the current item translationKey
    - its locale matches the code of the language we are looping through #}
    {%- if item.data.translationKey == translationKey and item.data.locale == lang.code -%}
      {% set translatedUrl = item.url %}
    {%- endif -%}

  {%- endfor -%}

    <li class="langswitch__item {{ activeClass }}">
      <a class="langswitch__link" onclick="setCookie('nf_lang', '{{ lang.code }}')" href="{{ translatedUrl }}" title="{{ lang.label }}">{{ lang.code }}</a>
    </li>

  {%- if loop.last -%}</ul>{%- endif -%}
{%- endfor -%}

</div>
