<nav class="menu">
  <ul class="menu__list">
    {%- for entry in collections['site_' + locale] | eleventyNavigation -%}
    <li class="menu__item{% if page.url.includes(entry.url) %} menu__item--active{% endif %}">
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
    {%- endfor -%}
    <li class="menu__item menu__item--rss">
      <a href="/{{ locale + metadata.feed.path }}">RSS</a>
    </li>
  </ul>
</nav>
