<div class="subscribe">
  <div class="subscribe__inner">
    <h3 class="subscribe__title">{{ dictionary.subscribe.title[ locale ] }}</h3>
    <div class="subscribe__body">
      <p>{{ dictionary.subscribe.body[ locale ] }}</p>
      <a
        class="subscribe__link"
        rel="noopener noreferrer"
        href="http://eepurl.com/gNzLRz"
        target="_blank">
          {{ dictionary.subscribe.link[ locale ] }}
      </a>
    </div>
  </div>
</div>
