<div class="subscribe">
  <div class="subscribe__inner">
    <h3 class="subscribe__title">{{ 'dict.subscribe.title' | i18n }}</h3>
    <div class="subscribe__body">
      <p>{{ 'dict.subscribe.body' | i18n }}</p>
      <a
        class="subscribe__link"
        rel="noopener noreferrer"
        href="http://eepurl.com/gNzLRz"
        target="_blank">
          {{ 'dict.subscribe.link' | i18n }}
      </a>
    </div>
  </div>
</div>
